{% load static %}
<footer class="footer pt-3">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-left">
                &copy; 
                <a href="" class="font-weight-bold" target="_blank">HR Department</a> 
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <!--<a href="https://www.creative-tim.com/product/soft-ui-dashboard-django" 
                     class="nav-link text-muted" target="_blank">Product</a>-->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div> 
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi. My name is Ali . How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbox__footer">
    
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
    
                    
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{% static 'images/chatbox-icon.svg' %}" /></button>
            </div>
        </div>
    </div>
    <script>
        var $SCRIPT_ROOT = 'http://localhost:8000';
    </script>
        <script type="text/javascript" src="{% static 'app.js' %}">
        
        </script>
      
      