<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anada - Data Science & Analytics Template">

    <!-- ========== Page Title ========== -->
    <title>Anada - Data Science & Analytics Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    














    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area btn-video shape-right top-pad-50 bg-gray text-combo">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="container">
                        <div class="row">
                            <div class="double-items">
                                <div class="col-lg-7 info">
                                    <h2 class="wow fadeInDown" data-wow-duration="1s">Applying Data Science  & Techniques</h2>
                                    <p class="wow fadeInUp" data-wow-duration="1.5s">
                                        Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. Kept easy or sons my it done.
                                    </p>
                                    <div class="button wow fadeInLeft" data-wow-duration="1.7s">
                                        <a class="btn-simple md light" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                                        <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube theme video-play-button inline item-center relative">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-5 thumb max-right wow fadeInDown" data-wow-duration="1s">
                                    <img class="shape-animated" src="{% static 'assets/img/illustration/13.png' %}" alt="Thumb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    


<!-- Start Services Area
    ============================================= -->
    <div class="services-area left-border default-padding bottom-less">

        <!-- Shape Fixed Rotation -->
        <div class="shape-fixed animation-rotation">
            <img src="static/assets/img/round-shappe.png" alt="Thumb">
        </div>
        <!-- Dhape Fixed Rotation -->

        <div class="container">
            <div class="heading-left">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>
                            Team members
                        </h2>
                    </div>
                </div>
            </div>
            <div class="services-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img class="whatever" src="static/assets/img/1.png" alt="Thumb">
                            <h4>Houssem Eddine Loudhabachi</h4>
                           
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img class="whatever" src="static/assets/img/2.png" alt="Thumb">
                            <h4>Ali Saidi</h4>
                         
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img class="whatever" src="static/assets/img/3.png" alt="Thumb">
                            <h4>Jawher Ressaissi</h4>
                          
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
                <div class="row">
                    <div class="col-lg-5">
                    </div>
                </div>
            </div>
            <div class="services-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img class="whatever" src="static/assets/img/4.png" alt="Thumb">
                            <h4>Mohamed Khattat</h4>
                           
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img class="whatever" src="static/assets/img/5.png" alt="Thumb">
                            <h4>Ghassen Hammami</h4>
                         
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <img class="whatever" src="static/assets/img/6.png" alt="Thumb">
                            <h4>Saif Missaoui</h4>
                          
                            <div class="button">
                                <a class="btn-standard" href="#"><i class="fas fa-angle-right"></i> Read More</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->
                </div>
            </div>
            
        </div>
    </div>
    <!-- End Services Area -->







    <!-- Star Our Story
    ============================================= -->
    <div class="our-story-area default-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Introduction</h4>
                        <h2>
                            Introduction
                        </h2>
                    </div>
                </div>
            </div>
            <div class="story-items text-center">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <span>01</span>
                            <h4>Business Goals</h4>
                            <p></p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <span>02</span>
                            <h4>Data science goals</h4>
                            <p></p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <span>03</span>
                            <h4>Data Preparation</h4>
                            <p></p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <span>04</span>
                            <h4>Conclusion</h4>
                            <p></p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Story -->

    <!-- Start Why Chose Us
    ============================================= -->
    <div class="choseus-area default-padding-top">
        <div class="container">
            <div class="choseus-box">
                <div class="row">
                    <div class="col-lg-5 info">
                        <h5>01</h5>
                        <h2>Business Objectives</h2>
                        <p>
                            <!--Humoured likewise moderate. Much nor game son say feel. Fat make met can must form into gate.-->
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Why Chose Us -->

    <!-- Start Services List
    ============================================= -->
    <div class="services-list-area default-padding-bottom pt-5">
        <div class="container">
            <div class="services-list-items">
                <div class="row align-center">
                    <div class="col-lg-5 thumb">
                        <img src="{% static 'assets/img/illustration/14.png' %}" alt="Thumb">
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-trash-alt"></i> <span>Cost effective</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-award"></i><span>Dependability</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-database"></i> <span>Improving customer service</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-hdd"></i> <span>Increasing productivity</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fab fa-angular"></i> <span>Reduce employee turnover</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-rocket"></i> <span>Reach out to more community members</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-trash-alt"></i> <span>Selling a more reliable product</span></a>
                            </div>
                            <div class="col-lg-6 col-md-6 single-item">
                                <a href="#"><i class="fas fa-award"></i><span>Automated user provisioning</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services List -->

    

<!-- Star About Area
    ============================================= -->
    <div class="about-area shape-left default-padding-bottom">
        <div class="container">
            <div class="items-box">
                <div class="row">
                    <div class="col-lg-6 thumb wow fadeInDown">
                        <img src="{% static 'assets/img/illustration/10.png' %}" alt="Thumb">
                    </div>
                    <div class="col-lg-6 info wow fadeInRight" data-wow-duration="1.3s">
                       <h5>02</h5> 
                       <h2>Data science objectives</h2>
                       <br>
                       <ul>
                           <li>
                               <h5>Contour detection</h5>
                               <br>
                           </li>
                           <li>
                               <h5>Denoising</h5>
                               <br>
                           </li>
                           <li>
                            <h5>Dashboarding</h5>
                            <br>
                        </li>
                        <li>
                            <h5>Normalisation</h5>
                            <br>
                        </li>
                        <li>
                            <h5>Segmentation</h5>
                            <br>
                        </li>
                        <li>
                         <h5>Grayscaling and blurring</h5>
                         <br>
                     </li>
                     <li>
                        <h5>Data augmentation</h5>
                        <br>
                    </li>
                    <li>
                        <h5>OCR</h5>
                        <br>
                    </li>
                       </ul>
                       <a class="btn circle btn-md btn-gradient icon-left" href="#">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

    <!-- Start Our About
    ============================================= -->
    <div class="about-area bg-gray overflow-hidden rectangular-shape default-padding">
        <div class="container">
            <div class="about-items choseus-items right-thumb">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <div class="info wow fadeInLeft">
                            <h2>Data preparation</h2>
                            
                            <h4>8 Steps to Get Started</h4>
                            <ul>
                                <li>
                                    <span><i class="ti-check"></i> Orientation correction</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Cropping</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Contour detection</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Grayscaling and blurring</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Face detection</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Flag detection</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Ordering OCR output</span>
                                </li>
                                <li>
                                    <span><i class="ti-check"></i> Correcting OCR output</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thumb wow fadeInUp" data-wow-delay="0.5s">
                            <img src="{% static 'assets/img/illustration/9.png' %}" alt="Thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our About -->

  

    <!-- Star Footer
    ============================================= -->
    <footer>
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                            <p>
                                Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted
                            </p>
                        </div>
                    </div>

                    <div class="equal-height col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Usefull Links</h4>
                            <ul>
                                <li>
                                    <a href="#">Classic Business</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Project</a>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Services</h4>
                            <ul>
                                <li>
                                    <a href="#">Marketing & Sales</a>
                                </li>
                                <li>
                                    <a href="#">Manufacturing</a>
                                </li>
                                <li>
                                    <a href="#">Supply Chain</a>
                                </li>
                                <li>
                                    <a href="#">Data Visualization</a>
                                </li>
                                <li>
                                    <a href="#">Big Data</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item contact">
                            <h4 class="widget-title">Contact Info</h4>
                            <p>
                                 Possible offering at contempt mr distance stronger an. Attachment excellence announcing
                            </p>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Email:</strong> support@validtheme.com
                                    </li>
                                    <li>
                                        <strong>Contact:</strong> +44-20-7328-4499
                                    </li>
                                </ul>
                            </div>
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="youtube">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2019. All Rights Reserved by <a href="#">validthemes</a></p>
                    </div>
                    <div class="col-lg-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape -->
        <div class="footer-shape" style="background-image: url(static/assets/img/shape/1.svg);"></div>
        <!-- End Shape -->
    </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'assets/js/circle-progress.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>